html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.racks, .racks svg {
  position: absolute;
}

.racks svg {
  width: 10px;
  height: 10px;
  border: solid black 1px;
}

.racks svg:hover {
    cursor: pointer;
}
